  <meta charset="utf-8">
  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{.Title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="{{ .Site.Params.Logo.Url }}">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.Favicon.Url }}">
  <link rel="apple-touch-icon" href="{{ .Site.Params.Favicon.Url }}">
  <link rel="alternate icon" href="/favicon.ico">

  <link rel="preload" as="font" href="/fonts/sourceSansPro/source-sans-pro-v9-latin-regular.woff2">
  <link rel="preload" as="font" href="/fonts/sourceSansPro/source-sans-pro-v9-latin-600.woff2">
  <link rel="preload" as="font" href="/fonts/sourceSansPro/source-sans-pro-v9-latin-700.woff2">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/sourcesanspro.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/helper.css">
  <link rel="stylesheet" href="/css/main.css">

  <meta name="theme-color" content="#fafafa">
