{{ $itemsByJsonPath := .itemsByJsonPath -}}
{{ $idsByJsonPath := .idsByJsonPath -}}
{{ $apiDefinition := .apiDefinition }}
{{ $resourcePath := .path }}
{{ $resourcePathVariables := .pathVariables }}
{{ $resourceSecuredBy := .resourceSecuredBy }}
{{ $id := .id }}
{{ $rwadefResource := .rwadefResource }}

{{ with .operation }}
<section class="operation" aria-labelledby="{{ .Name }}">
	<div class="operation__content">
        <h3 id="{{ $id }}">{{ .Name }}</h3>
        <span class="operation--{{ lower .Method }} operation--default">{{ .Method }}</span> <span class="operation__url">{{ $resourcePath }}</span>
        {{ with .description}}<div class="operation__description wysiwyg">{{ . | markdownify }}</div>{{ end }}
        {{ with .tags}}<div class="operation__tags">{{ range . }}<span class="badge">{{ . }}</span>{{ end }}</div>{{ end }}
        {{ with ( default $resourceSecuredBy .securedBy) }}
		<div class="definition__security definition">
			<h4>{{ i18n "api-security" -}}</h4>
	      	<div>
{{ partial "apis/1.0.0/securedBy" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "securedBy" . ) }}
			</div>
	    </div>
        {{ end }}
	    <div class="definition__content definition">
			<div>
				<h4>{{ i18n "api-request" -}}</h4>
		{{ partial "apis/1.0.0/pathvariables_queryparameters_headers" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "context" "request" "type" "parameters" "label" "Path variables" "params" $resourcePathVariables) }}
		{{ partial "apis/1.0.0/pathvariables_queryparameters_headers" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "context" "request" "type" "parameters" "label" "Query Parameters" "params" .queryParameters) }}
		{{ partial "apis/1.0.0/pathvariables_queryparameters_headers" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "context" "request" "type" "parameters" "label" "Headers" "params" .headers) }}
			</div>
	{{ partial "apis/1.0.0/bodies" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "bodies" .bodies "context" "request") }}    
    	</div>
		<div class="definition__content definition">
			<h4>{{ i18n "api-response" -}}</h4>
	        {{ $scratch := newScratch }} {{/* used to sort by status */}}
			{{ range .Responses }}
				{{ $scratch.SetInMap "responsesByStatus" .status . }}
			{{ end }}

			{{ range $scratch.Get "responsesByStatus" }}
				{{ if (isset . "reference") }}
			    	{{ $response := index $itemsByJsonPath .Reference }}
			    	{{ partial "apis/1.0.0/response" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "response" $response "status" .status ) }}
				{{ else }}
			    	{{ partial "apis/1.0.0/response" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "response" . ) }}
				{{ end }}
			{{ end }}
		</div>
	</div>
	<div class="operation__content-info operation__content-info--odd">
		{{ partial "apis/1.0.0/try_in_tester" $rwadefResource -}}
	</div>
</section>
{{ end }}
