{{ $arrayTypes := .arrayTypes -}}
{{ $finalType := .finalType -}}
{{ $itemsByJsonPath := .itemsByJsonPath -}}
{{ $idsByJsonPath := .idsByJsonPath -}}
{{ $apiDefinition := .apiDefinition -}}

{{ $scratch := newScratch -}}
{{ $scratch.Add "arrayTypeLabel" slice -}}
{{ range $arrayTypes -}}{{ $scratch.Add "arrayTypeLabel" (i18n "api-type-array-of") -}}{{ end -}}
{{ with $finalType -}}
    {{ if (eq .type "OBJECT") -}}
      {{ $scratch.Add "arrayTypeLabel" (i18n "api-type-object") -}}
    {{ else -}}
      {{ $scratch.Add "arrayTypeLabel" (partial "apis/1.0.0/apiDefinition/content/dataType_simple" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "dataType" . )) -}}
    {{ end -}}
{{ end -}}
{{ delimit ($scratch.Get "arrayTypeLabel") " " }}