{{ $itemsByJsonPath := .itemsByJsonPath -}}
{{ $idsByJsonPath := .idsByJsonPath -}}
{{ $apiDefinition := .apiDefinition -}}
{{ $context := .context -}}
{{ $arrayTypes := .arrayTypes -}}
{{ $finalType := .finalType -}}
{{ $id := .id -}}
{{ $isArrayDataType := .isArrayDataType -}}
{{ $hideTopArrayDataTypeExamples := not .showTopArrayTypeExamples -}}
<table id="{{ $id -}}">
  <caption class="{{ $context }}-title sr-only">{{ i18n "api-data-type-details" -}}</caption>
  <thead class="sr-only">
    <tr>
      <th scope="col">{{ i18n "api-parameter-type" -}}</th>
      <th scope="col">{{ i18n "api-parameter-description" -}}</th>
      <th scope="col">{{ i18n "api-parameter-attributes-examples" -}}</th>
    </tr>
  </thead>
  <tbody>
{{ range $index, $arrayType := $arrayTypes -}}
  {{ $isTopArrayType := eq $index 0 -}}
  {{ $cssClass := cond $isArrayDataType ( cond $isTopArrayType (print $context "__array-first-type") "") "array-parameter--description" -}}
    <tr class="{{ $context }}__parameter {{ $cssClass -}}">
      <th scope="row">{{ i18n "api-type-array" -}}</th>
      <td>{{ replace $arrayType.description "# " "#### " | markdownify -}}</td>
      <td class="{{ $context }}__parameter-attributes-examples">
  {{ if and $isTopArrayType $hideTopArrayDataTypeExamples -}}{{/* In case of a data type, the example of the top array type is already displayed, in the right hand side */}}
    {{ partial "apis/1.0.0/apiDefinition/content/dataType_attributes" (dict "type" $arrayType "context" $context) -}}
  {{ else -}}
    {{ partial "apis/1.0.0/apiDefinition/content/dataType_attributes_with_examples" (dict "type" $arrayType "context" $context) -}}
  {{ end -}}
      </td>
    </tr>
{{ end -}}
{{ with .finalType -}}
  {{ if (eq .type "OBJECT") -}}
    {{ $randomId := delimit (shuffle (split (md5 "aria-describedBy for Object property in array") "" )) "" -}}
    <tr class="{{ $context }}__parameter array-parameter--description">
      <th scope="row" aria-describedby="{{ $randomId }}">{{ i18n "api-type-object" -}}</th>
      <td>{{ replace .description "# " "#### " | markdownify -}}</td>
      <td class="{{ $context }}__parameter-attributes-examples">{{ partial "apis/1.0.0/apiDefinition/content/dataType_attributes_with_examples" (dict "type" . "context" $context) -}}</td>
    </tr>
  {{ else -}}
    <tr class="{{ $context }}__parameter array-parameter--description">
      <th scope="row">
      {{ if (hasPrefix .type "#/contract/types/") -}}
      {{ $type := index $itemsByJsonPath .type -}}
      {{ $type.name -}}
    {{ else if (eq .type "ALLOF") -}}
      {{ i18n "api-type-all-of" -}}
    {{ else if (eq .type "ANYOF") -}}
      {{ i18n "api-type-any-of" -}}
    {{ else if (eq .type "ONEOF") -}}
      {{ i18n "api-type-one-of" -}}
    {{ else -}}
      {{ .type | lower -}}
    {{ end -}}
      </th>
      <td>{{ replace .description "# " "#### " | markdownify -}}</td>
      <td class="{{ $context }}__parameter-attributes-examples">{{ partial "apis/1.0.0/apiDefinition/content/dataType_attributes_with_examples" (dict "type" . "context" $context) -}}</td>
    </tr>
  {{ end -}}
{{ end -}}
  </tbody>
</table>